
<div class="footer__row">
    {{widget type="interface/widget_logo" template="interface/widgets/logo.phtml" identificador="thebesthair" imagem="wysiwyg/logos/logo.svg" imagem_mobile="wysiwyg/logos/logo.svg" alt_imagem="The Best Hair Professional" tag_html="div" tag_html_home="h3"}}
</div>
<div class="footer__row">
    <div class="footer__box">
        <h3 class="footer__title">Contato</h3>
        <div class="footer__content">
            {{block type="menubuilder/output" identifier="footer-contato"}}
        </div>
    </div>

    <div class="footer__box">
        <h3 class="footer__title">Institucional</h3>
        <div class="footer__content">
            {{block type="menubuilder/output" identifier="footer-institucional"}}
        </div>
    </div>

    <div class="footer__box">
        <h3 class="footer__title">Ajuda</h3>
        <div class="footer__content">
            {{block type="menubuilder/output" identifier="footer-ajuda"}}
        </div>
    </div>

    <div class="footer__box">
        <h3 class="footer__title">Categorias</h3>
        <div class="footer__content">
            {{block type="menubuilder/output" identifier="footer-categorias"}}
        </div>
    </div>
</div>
<div class="footer__row">
    <div class="footer__box">
        <h3 class="footer__title">Pagamento</h3>
        <div class="footer__content">
            {{widget type="interface/widget_pagtos" template="interface/widgets/pagtos.phtml" identificador="payments" pagtos="all"}}
        </div>
    </div>
    <div class="footer__box">
        <h3 class="footer__title">Redes Sociais</h3>
        <div class="footer__content">
            {{widget type="interface/widget_social" template="interface/widgets/social.phtml" identificador="socials" redes="all"}}
        </div>
    </div>
    <div class="footer__box">
        <h3 class="footer__title">Certificados e Selos</h3>
        <div class="footer__content">
            {{widget type="interface/widget_seals" template="interface/widgets/seals.phtml" identificador="security" seals="all"}}
        </div>
    </div>
</div>

<div class="footer__copyright">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
</div>
