<div class="instagram">
    <div class="instagram__container">
        <div class="instagram__header">
            <img src="@img(instagram-logo)" alt="instagram" />           
            <a href="#instagram">@thebesthairprofessional</a>
            <p>THE BEST HAIR PROFESSIONAL</p>
            <p>As melhores marcas do mercado em um só lugar! <br />
            Enviamos para todo o Brasil</p>
        </div>
        <div class="instagram__main">
            <a href="#"><img src="@img(insta-img-01)" /></a>
            <a href="#"><img src="@img(insta-img-02)" /></a>
            <a href="#"><img src="@img(insta-img-03)" /></a>
            <a href="#"><img src="@img(insta-img-04)" /></a>
            <a href="#"><img src="@img(insta-img-05)" /></a>
        </div>
    </div>
</div>