.cms-home .header-container + .banner
    &, & + script + .banner
        margin-top: -(gap / 2)

.banner
    img
        min-width: 100%
        object-fit: cover

    .cms-home .main &
        container()

#banner__tbh-banner-duo
    .banner
        &__item
            padding: (gap / 2)

        &__wrapper
            margin: -(gap / 2)
            width: auto !important