#banner__tbh-regua-de-vantagens
    background: var(--secundary)
    color: var(--secundary-contrast)

    .rulers
        display: flex
        justify-content: center
        align-items: center

        .ico
            margin-right: 10px
            width: 16px
            height: 16px

        span
            font-weight: bold
            font-size: 14px
