.sharing-links
    .list:before
        color: var(--primary)
        content: 'Compartilhe: '
        font-weight: medium
        font-size: 20px
        font-size: 12px
        opacity: 1

    a
        background: none
        color: unquote('rgba(var(--primary-rgb), .3)')

        .ico
            width: 20px
            height: 20px
            fill: currentColor

    .fb-share
        .ico
            padding: 3px 0 0 3px
            border-radius: 2px
            background: unquote('rgba(var(--primary-rgb), .3)')

            &, path
                fill: var(--primary-contrast) !important
