.tabs
    container()

    margin: 0 auto

    &__tab
        titleCollateral()

    &__content
        @media media-min-lg
            padding: (gap / 2) 0
            border: 0

            &, .std
                color: var(--primary)
                font-weight: regular
                font-size: 14px